.bookslist{
  width: 100%;
}

.bookslist__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 40px;
  row-gap: 40px;
}

.bookslist__item {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px){
  .bookslist__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}